.footer {
  margin-top: 100px;
  width: 1400px;

  &__list {
    width: 50%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }

}