body {
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  color: blue;
}


.box {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  width: 845px;
  column-gap: 15px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding: 40px 55px 220px 55px;

  &__card {
    background-color: #EEEEEE;

  }

  &__img {
    display: block;
    margin: 10px auto 0 auto;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;

  }

  &__description {
    margin-left: 10px;
    font-size: 12px;
    padding-bottom: 5px;
  }

  &__button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0 10px 10px 10px;
    color: black;
    text-decoration: none;
    background-color: #C4C4C4;
    font-size: 10px;
  }
}