.header {
  background: url(../img/eto-lubov.jpg) no-repeat;


  &__wrap {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  text-decoration: none;
  margin-left: 50px;

  &__img {
    border-radius: 10px;
  }
}

.nav {
  &__list {
    margin: 0 -12px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    padding: 4px 12px;
  }

  &__link {
    text-decoration: none;
  }
}