.header {
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  text-decoration: none;
}

.nav {
  &__list {
    margin: 0 -12px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    padding: 4px 12px;
  }

  &__link {
    text-decoration: none;
  }
}