{% extends "templates/default.html" %}
{% set title = "Главная страница" %}
{% set items = [
  { src:'https://picsum.photos/id/1073/180/120', title:'Первая карточка', 
  description:'Достаточно краткое описание для <b>первой</b> карточки'},
  { src:'https://picsum.photos/id/1/180/120', title:"Вторая карточка", 
  description:'Достаточно краткое описание для <b>второй</b> карточки'},
  { src:'https://picsum.photos/id/1010/180/120', title: "Третья карточка", 
  description:'Достаточно краткое описание для <b>третьей</b> карточки'},
  { src:'https://picsum.photos/id/1058/180/120', title:"Четвертая карточка", 
  description:'Достаточно краткое описание для <b>четвёртой</b> карточки'}
  ] %}

{% block content %}

<main class="main">
  <div class="container">
    <h1 class='title'>
      {{ title }}
    </h1>
    <p>
      Текст того, кто учиться использовать gulp, nunjucks и <br>
      прочие модули для создания шаблонов и упрощения версткий сайтов.
    </p>
    <p>
      Какой-то такой: Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
      Consequatur at fugiat unde natus omnis dolor! Eius sapiente<br>
      fugiat expedita quibusdam? Minima quisquam quibusdam praesentium.
    </p>
  </div>

  <div class='box'>
    {% for item in items %}
    <div class="box__card">
      <img class="box__img" src="{{ item.src }}" alt="">
      <h2 class='box__title'>{{ item.title }}</h2>
      <p class='box__description'>{{ item.description|safe }}</p>
      <a href="#" class="box__button">подробнее</a>
    </div>
    {% endfor %}
  </div>

</main>

{% endblock %}