{% extends "templates/default.html" %}
{% set title = "Главная страница" %}

{% from 'includes/marcos.html' import insertSpaces, project %}

{% block content %}

<main class="main">
  <div class="container">
    <h1 class='title'>
      {{ title }}
    </h1>
    <p>
      Текст того, кто учиться использовать gulp, nunjucks и <br>
      прочие модули для создания шаблонов и {{insertSpaces(4)}} упрощения версткий сайтов.
    </p>
    <p>
      Какой-то такой: Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
      Consequatur at fugiat unde natus omnis dolor! Eius sapiente<br>
      fugiat expedita quibusdam? Minima quisquam quibusdam praesentium.
    </p>
  </div>
  <div class='box'>
    {% for i in range(0, 4) %}
    {{ project('Я-Заголовок', 'Я-Описание') }}
    {% if not loop.last %}
    {% endif %}
    {% endfor %}
  </div>
</main>

{% endblock %}