{% extends "templates/default.html" %}
{% set title = "Главная страница моей первой страницы" %}
{% from 'includes/marcos.html' import card, webpImg %}

{% set items = [
  { src:'card-1', title:'Первая карточка', 
  description:'Достаточно краткое описание для <b>первой</b> карточки'},
  { src:'card-2', title:"Вторая карточка", 
  description:'Достаточно краткое описание для <b>второй</b> карточки'},
  { src:'card-3', title: "Третья карточка", 
  description:'Достаточно краткое описание для <b>третьей</b> карточки'},
  { src:'card-4', title:"Четвертая карточка", 
  description:'Достаточно краткое описание для <b>четвёртой</b> карточки'},
  { src:'card-5', title:"Пятая карточка", 
  description:'Достаточно краткое описание для <b>пятой</b> карточки'}
  ] %}

{% set images = [
 { src:'card-1'},
 { src:'card-2'}
    ] %}

{% block content %}

<main class="main">
  <div class="container">
    <h1 class='title'>
      {{ title }}
    </h1>
    <p>
      Текст того, кто учиться использовать gulp, nunjucks и <br>
      прочие модули для создания шаблонов и упрощения версткий сайтов.
    </p>
    <p>
      Какой-то такой: Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
      Consequatur at fugiat unde natus omnis dolor! Eius sapiente<br>
      fugiat expedita quibusdam? Minima quisquam quibusdam praesentium.
    </p>
  </div>

  <div class='box'>
    {% for item in items %}
    {{ card(item.src, item.title, item.description) }}
    {% endfor %}
  </div>

  <div class='picture'>
    {% for image in images %}
    {{ webpImg(src) }}
    {% endfor %}
  </div>
</main>

{% endblock %}